body {
  margin: 0px;
  overflow: auto;
}

*:focus {
  outline: none;
}

/* Main container */
#socials {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 2px;
  background: #373737;
  box-shadow: 1px 1px 10px 1px #151515; z-index: 99999999999;
  align-items: center;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

/* Title */
.lazyDev {
  color: #252525;
  font-family: 'Electrolize', sans-serif;
  font-size: 13px;
  width: 100%;
  text-align: center;
  background-color: #F9D422;
  margin-bottom: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* Both columns */
.leftAndRight {
  display: flex;
  flex-direction: row;
  margin: 0 20px 0 20px;
  justify-content: center;
}

#result {
  text-align: center;
  padding: 6px;
  width: 50px;
  border-radius: 4px;
  border: 2px solid #252525;
  font-size: 8px;
  font-weight: bold;
}

/* Left */
#left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#copied {
  transition: 0.3s ease-in-out;
}

/* Right */
#right {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showRight {
  display: flex;
}

/* Input fields */
textarea {
  min-width: 250px;
  max-width: 250px;
  min-height: 15px;
  margin: 8.6px;
  height: 15px;
  padding: 4px;
  border-radius:4px;
  color: #252525;
  font-family: 'Play', sans-serif;
  font-size: 12px;
}

.ovfH {
  word-wrap:unset;
}

::placeholder {
  opacity: 0.8;
  padding: 2px;
}

/* Buttons Container */
.buttonsBot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 15px 15px 15px;
  gap: 5px;
}

.icon {
  position: relative
}

/* Image icons */
img {
  max-width: 40px;
  height: 40px;
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
}

img:active {
  transform: translateY(4px);
  transition: 0.4s ease-out;
}

#portfolio {
  transform: scale(0.8);
}

/* Number icons */
.iconNumber {
  font-family: 'Electrolize', sans-serif;
  font-size: 16px;
  color: #fff;
  border: 2px solid #F9D422;
  border-radius: 2px;
  padding: 4px 8px;
  transition: 0.5s;
  margin: 5px 0;
}

#one {
  padding: 3.5px 10.5px;
}

.iconNumber:hover {
  color: #252525;
  background-color:#F9D422 ;
  cursor: pointer;
  transition: 0.5s;
}

.iconNumber:active {
  transform: translateY(4px);
  transition: 0.4s ease-out;
}

/* Buttons */
button {
  color: #252525;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Electrolize', sans-serif;
  border: 2px solid #fff;
  background-color:#F9D422 ;
  padding: 6px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

button:hover {
  color: #fff !important;
  border: 2px solid #fff;
  background-color:#22c0f99b;
  transition: 0.3s ease-in-out;
}

button:active {
  background-color: #F9D422;
  box-shadow: 0 2px rgb(227, 157, 5);
  transform: translateY(2px);
}

#save {
  margin-bottom: 5px;
}

button:hover {
  color: rgb(253, 215, 28);
}
